<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout>
                <Pattern>[%d] - [%p] [%c:%L] : %m%n</Pattern>
            </PatternLayout>
        </Console>
        <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
        <Sentry name="Sentry" />
    </Appenders>
    <Loggers>
        <logger name="eionet" level="info"/>
        <logger name="org.springframework.web" level="info"/>
        <logger name="org.hibernate" level="info" />
        <logger name="org.basex" level="info"/>
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>